.cutting-chart_settings-wrapper {
  width: 100%;
  padding: 20px 0;
}

.cutting-chart-main {
  width: 100%;
  /* height: 555px; */
  display: flex;
}

.cutting-chart__params-wrapper {
  flex: 30%;
  max-width: 30%;
  /* background-color: rgb(255, 240, 224); */
}

.canvas__wrapper {
  padding-left: 10px;
  width: 70%;
}

.cutting-chart__canvas-wrapper {
  display: flex;
  flex-direction: column;
  /* flex: 65%; */
  margin-bottom: 15px;
}

.cutting-chart__canvas {
  background-color: #eee;
  border: 1px solid #ccc;
}

.params__item-input-wrapper {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.cutting-chart__params-field {
  display: flex;
  max-width: 100%;
}

.params__item {
  padding: 7px 0;
  border-bottom: 1px solid black;
}

.params__item-title {
  margin-bottom: 7px;
  padding: 0 10px;
}

.params-field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
  margin-bottom: 5px;
}

.params-field-label {
  color: rgb(116, 113, 113);
  font-size: 14px;
}

.params-field_btn-wrapper {
  padding-top: 37px;
}

.params-field-btn {
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: rgb(200, 232, 241);
}

.params-field-btn:hover {
  background-color: rgb(118, 184, 202);
}

.params-field-btn:disabled {
  opacity: 0.85;
}

.params-field-btn:hover:disabled {
  background-color: rgb(200, 232, 241);
}

.params__item-table {
  width: 100%;
}

.params__item-blanks-add-wrapper {
  width: 100%;
  display: flex;
}

.params-item-blanks-add-field {
  padding: 10px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.params-item-blanks-add-field-btn {
  display: flex;
  align-items: flex-end;
}

table {
  border: 1px solid #ccc;  /* граница всей таблицы */
}
tr {
  border: 1px solid #ccc;  /* границы между строками */
}
td, th {
  border: 1px solid #ccc;  /* границы между столбцами */
}

.blanks__table {
  width: 100%;
  border-collapse: collapse;
}
