@import "assets/css/normalize.css";

.main {
  min-height: calc(100ch - 200px);
  position: relative;
}

.default-input {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 7px;
}
